.servicesSection {
    padding: 4rem 2rem;
    background-color: #fff;
    text-align: center;
  }
  
  .title {
    font-size: 2rem;
    margin-bottom: 2rem;
    
  }
  
.service_title{
    color: #0077cc;
    font-family: sans-serif;
}
.service_des{
    font-family: sans-serif;
}
  
  .servicesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }
  
  .card {
    background: rgb(210, 208, 208);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  