*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: antiquewhite;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
    height: 80px;
    border-radius: 10px;
    right: 0;
  }
  
  .nav-list li{
    margin-left: 20px;
    display: flex;

  }

  .nav-list ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  

  .nav-list a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .nav-list li a:hover {
    color: blue;
  }

  .logo{
    width:80px ;
    height: 80px;
    border-radius:40px ;
  }

  .HeroSection{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    padding: 20px;
    background-color: rgb(225, 226, 227);
  }

  .Welcome{
    text-align: center;
    max-width: 600px;
  }
  .Welcome .h1{
    font-weight: bolder;
    font-family: sans-serif;
    justify-content: center;
    color: #333;

  }
  .Welcome p{
    font-family: sans-serif;
    line-height: 1.6;
    
  }
  .hero-Icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    gap: 30px;
    position: fixed;
    top: 50%;
    left: 20px;
    z-index: 1000;
    transform: translateY(-50%);
    
  }
  .hero-Icons a {
   font-size: 24px;
    transition: transform 0.3s, color 0.3s;
    
  }
  .hero-Icons a:hover{
    transform: scale(1.2);
    color: #333;
  }

  .letter {
    display: inline-block;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.3s ease forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .btn{
    background-color: rgb(104, 96, 250);
    padding: 15px 15px;
    border: none;
    border-radius: 5px;
  }
  .btn:hover{
    
    background-color: #363434;
    
  }

  @media(max-width: 480px){
    .welcome h1{
      font-size: 1.2rem;
    }

  }

  .Languages {
    padding: 1rem;
    background-color: #726d6d;
}
.title{
 text-align: center;
 font-family: sans-serif;
 background-color: rgb(143, 147, 147);
 color: black;

}
.tit {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 30px;            /* full viewport height */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    border-radius: 20px;
    margin-left: 100px;
}

.language-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  
}

.language-item img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.language-label {
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    color: #726d6d;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .language-item img {
      height: 150px;
      width: 100%;
  }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .language-item img {
        height: 150px;
        width: 50%;
    }
}