*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


  .Languages {
    padding: 1rem;
    background-color: #726d6d;
}
.title{
 text-align: center;
 font-family: sans-serif;
 background-color: rgb(143, 147, 147);
 color: black;

}
.tit {
  display: flex;
  justify-content: center;  /* horizontal center */
  align-items: center;      /* vertical center */
  height: 30px;            /* full viewport height */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin-top: 1rem;
    border-radius: 20px;
    margin-left: 100px;
}

.language-item {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
  
}

.language-item img {
    border-radius: 5px;
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.language-label {
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 600;
    text-align: left;
    font-size: 0.9rem;
    width: 100%;
    text-align: center;
    color: #726d6d;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .language-item img {
      height: 150px;
      width: 100%;
  }
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
    
    .language-item img {
        height: 150px;
        width: 50%;
    }
}